* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2736;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    padding-bottom: 30px;
    padding-left: 50px;
    
}

nav .logo #logo-img {
    width: 30%;
    height: 10%;
    border: 2px solid wheat;
}

nav .links {
    text-align: right;
    justify-content: center;
    width: 100%;
}

.links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    padding: 15px;
    margin: 5px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 100%;
    
}

.hero .secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.hero .button {
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .button #signup{
    background-color: #3882f6;
    color: whitesmoke;
    height: 50px;
    width: 90px;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
}

.hero .hero-img {
    padding-top: 30px;
    margin-left: 100px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .hero-img #img{
    width: 100%;
}

.example {
    display: flex;
    flex-direction: column;
}

.example .example-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.example .sequence {
    display: flex;
    justify-content: space-around;
}

.example .sequence .example-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.example .sequence .example-block #example-img{
    width: 70%;
    height: 50%;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote .quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 10px;
}

.quote .quote-author {
    color: black;
    font-size: 17px;
    font-weight: bold;
    align-self: flex-end;
    width: 30%;
    margin: 10px;
}

footer {
    display: flex;
}